In [135]:
import pandas as pd

In [136]:
columnnames =['Administrative Unit','GID',
              'Mean-2012April','Mean-2012May','Mean-2012June','Mean-2012July','Mean-2012Aug','Mean-2012Sept','Mean-2012Oct',
              'Mean-2012Nov','Mean-2012Dec',
              'Mean-2013Jan','Mean-2013Feb','Mean-2013March','Mean-2013April','Mean-2013May','Mean-2013June','Mean-2013July',
            'Mean-2013Aug','Mean-2013Sept','Mean-2013Oct','Mean-2013Nov','Mean-2013Dec',
              'Mean-2014Jan','Mean-2014Feb','Mean-2014March','Mean-2014April','Mean-2014May','Mean-2014June','Mean-2014July',
            'Mean-2014Aug','Mean-2014Sept','Mean-2014Oct','Mean-2014Nov','Mean-2014Dec',
              'Mean-2015Jan','Mean-2015Feb','Mean-2015March','Mean-2015April','Mean-2015May','Mean-2015June','Mean-2015July',
            'Mean-2015Aug','Mean-2015Sept','Mean-2015Oct','Mean-2015Nov','Mean-2015Dec',
              'Mean-2016Jan','Mean-2016Feb','Mean-2016March','Mean-2016April','Mean-2016May','Mean-2016June','Mean-2016July',
            'Mean-2016Aug','Mean-2016Sept','Mean-2016Oct','Mean-2016Nov','Mean-2016Dec',
              'Mean-2017Jan','Mean-2017Feb','Mean-2017March','Mean-2017April','Mean-2017May','Mean-2017June','Mean-2017July',
            'Mean-2017Aug','Mean-2017Sept','Mean-2017Oct','Mean-2017Nov','Mean-2017Dec',
              'Mean-2018Jan','Mean-2018Feb','Mean-2018March','Mean-2018April','Mean-2018May','Mean-2018June','Mean-2018July',
            'Mean-2018Aug','Mean-2018Sept','Mean-2018Oct','Mean-2018Nov','Mean-2018Dec',
              'Mean-2019Jan','Mean-2019Feb','Mean-2019March','Mean-2019April','Mean-2019May','Mean-2019June','Mean-2019July',
            'Mean-2019Aug','Mean-2019Sept','Mean-2019Oct','Mean-2019Nov','Mean-2019Dec',
            'Mean-2020Jan','Mean-2020Feb','Mean-2020March','Mean-2020April','Mean-2020May',
            'Median-2012April','Median-2012May','Median-2012June','Median-2012July','Median-2012Aug','Median-2012Sept','Median-2012Oct',
            'Median-2012Nov','Median-2012Dec',
            'Median-2013Jan','Median-2013Feb','Median-2013March','Median-2013April','Median-2013May','Median-2013June','Median-2013July',
            'Median-2013Aug','Median-2013Sept','Median-2013Oct','Median-2013Nov','Median-2013Dec',
            'Median-2014Jan','Median-2014Feb','Median-2014March','Median-2014April','Median-2014May','Median-2014June','Median-2014July',
            'Median-2014Aug','Median-2014Sept','Median-2014Oct','Median-2014Nov','Median-2014Dec',
            'Median-2015Jan','Median-2015Feb','Median-2015March','Median-2015April','Median-2015May','Median-2015June','Median-2015July',
            'Median-2015Aug','Median-2015Sept','Median-2015Oct','Median-2015Nov','Median-2015Dec',  
            'Median-2016Jan','Median-2016Feb','Median-2016March','Median-2016April','Median-2016May','Median-2016June','Median-2016July',
            'Median-2016Aug','Median-2016Sept','Median-2016Oct','Median-2016Nov','Median-2016Dec',
            'Median-2017Jan','Median-2017Feb','Median-2017March','Median-2017April','Median-2017May','Median-2017June','Median-2017July',
            'Median-2017Aug','Median-2017Sept','Median-2017Oct','Median-2017Nov','Median-2017Dec', 
            'Median-2018Jan','Median-2018Feb','Median-2018March','Median-2018April','Median-2018May','Median-2018June','Median-2018July',
            'Median-2018Aug','Median-2018Sept','Median-2018Oct','Median-2018Nov','Median-2018Dec', 
            'Median-2019Jan','Median-2019Feb','Median-2019March','Median-2019April','Median-2019May','Median-2019June','Median-2019July',
            'Median-2019Aug','Median-2019Sept','Median-2019Oct','Median-2019Nov','Median-2019Dec',
            'Median-2020Jan','Median-2020Feb','Median-2020March','Median-2020April','Median-2020May']

In [137]:
df = pd.DataFrame(columns = columnnames)

In [138]:
len(df.columns)

198

In [139]:
import geopandas as gpd 
adm01= gpd.read_file('D:/Job/NIght_time_light/VIIRS Nighttime DayNight Band Composites Version 1/2012/May/adm03.shp')

In [140]:
adm01.head(1)

,GID_0_x,NAME_0_x,GID_1_x,NAME_1_x,NL_NAME_1_,GID_2_x,NAME_2_x,NL_NAME_2_,GID_3,NAME_3_x,...,NAME_1,path,NL_NAME_3,GID_0,VARNAME_3,GID_1,system_i_1,GID_2,Date,geometry
0,CHN,China,CHN.3_1,Chongqing,??|??,CHN.3.1_1,Chongqing,??|??,CHN.3.1.13_1,Jiangjin,...,Chongqing,D:/Job/NIght_time_light/adm/CHN/CHN_adm03.shp,None,CHN,None,CHN.3_1,00000000000000000000,CHN.3.1_1,2012May,"MULTIPOLYGON (((105.83636 28.93850, 105.83901 ..."

In [141]:
print(adm01['GID_3'])

0       CHN.3.1.13_1
1       CHN.3.1.29_1
2        CHN.7.1.1_1
3        CHN.7.1.2_1
4        CHN.7.1.3_1
            ...
6921     VNM.4.8.4_1
6922     VNM.4.8.5_1
6923     VNM.4.8.6_1
6924     VNM.4.8.7_1
6925     VNM.4.8.8_1
Name: GID_3, Length: 6926, dtype: object

In [142]:
df['Administrative Unit'] = adm01['NAME_3_x']
df['GID'] = adm01['GID_3']

In [143]:
df.head(1)

,Administrative Unit,GID,Mean-2012April,Mean-2012May,Mean-2012June,Mean-2012July,Mean-2012Aug,Mean-2012Sept,Mean-2012Oct,Mean-2012Nov,...,Median-2019Aug,Median-2019Sept,Median-2019Oct,Median-2019Nov,Median-2019Dec,Median-2020Jan,Median-2020Feb,Median-2020March,Median-2020April,Median-2020May
0,Jiangjin,CHN.3.1.13_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
year = [2020] #2012,2013,2014,2015,2016,2017,2018,2019,2020
months = ['Jan','Feb','March','April','May'] #'Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec'
for y in year:
    for x in months:
        adm01= gpd.read_file('D:/Job/NIght_time_light/VIIRS Nighttime DayNight Band Composites Version 1/{}/{}/adm03.shp'.format(y,x))
        df['Mean-{}{}'.format(y,x)] = adm01['mean']
        df['Median-{}{}'.format(y,x)] = adm01['median']

In [148]:
df.head(1)

,Administrative Unit,GID,Mean-2012April,Mean-2012May,Mean-2012June,Mean-2012July,Mean-2012Aug,Mean-2012Sept,Mean-2012Oct,Mean-2012Nov,...,Median-2019Aug,Median-2019Sept,Median-2019Oct,Median-2019Nov,Median-2019Dec,Median-2020Jan,Median-2020Feb,Median-2020March,Median-2020April,Median-2020May
0,Jiangjin,CHN.3.1.13_1,0.138896,0.143715,0.082906,0.061122,0.151509,0.229455,0.149959,0.111371,...,0.262429,0.214725,0.403275,0.302377,0.183295,0.095369,0.299588,0.199444,0.403178,0.343695

In [149]:
# writing dataframe to csv file 
df.to_csv('D:/Job/NIght_time_light/Final_NTL_tables/adm03.csv')

In [ ]:
df['Mean-2012May'] = adm01['mean']
df['Median-2012May'] = adm01['median']

In [14]:
# df['Administrative Unit'] = adm01['VARNAME_1_']
# df['GID'] = adm01['GID_1_y']

In [21]:
df.head(1)

,Administrative Unit,GID,Mean-2012Apr,Mean-2012May,Mean-2012June,Mean-2012Jul,Mean-2012Aug,Mean-2012Sept,Mean-2012Oct,Mean-2012Nov,...,Median-2019Sept,Median-2019Oct,Median-2019Nov,Median-2019Dec,Median-2020Jan,Median-2020Feb,Median-2020Mar,Median-2020Apr,Median-2020May,Median-2012Apr
0,Hai Phong,VNM.23_1,1.720032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.617479